/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
    font-family: 'Open Sans',
        sans-serif;
    padding: 0;
    margin: 0;
}

* {

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1410px;
    margin: 0 auto;
}


.header_inner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header_inner a.icon {
    display: none;
}

div.logo {
    background-image: url(img/html5-logo3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 70px;
    margin: 20px 20px 20px 0;
}

.html-logo-top {
    font-size: 22px;
    font-weight: bold;
    color: #333333;
}

.logo-align {
    display: flex;
    flex-direction: row;
    align-items: center;
}

span.top-nav {
    font-size: 11px;
    display: block;
    font-weight: lighter;
    color: #c8c8c8;
}

nav.navigation div ul {
    float: left;
    width: 100vw;
    margin-left: -40px;
}



nav li {
    list-style-type: none;
    display: inline-block;
    margin-right: 50px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

nav.top-links li {
    color: #8b9bb9;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-right: 0px;
    margin-left: 50px;
}

nav.navigation {
    background-color: black;
    height: 60px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}

.fixed {
    position: fixed;
    top: 0;
    width: 110%;
    z-index: 555;
}

.navigation ul li:not(:first-child):hover {
    color: #954e61;
}

i.fa-home:active {
    color: #954e61;
}

/*====== CAROUSEL ======*/
.carousel {}

.carousel-img {
    background-image: linear-gradient(rgba(41, 41, 41, 0.411), rgba(41, 41, 41, 0.568)),
        url(img/owlimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

#homepage-slider {

    overflow: hidden;
}

.custom_overlay_wrapper {
    position: relative;
    color: white;

}

.custom_overlay_inner {
    max-width: 40%;
    padding-top: 190px;
    padding-bottom: 190px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.carousel-title {
    margin: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}


.carousel-title span {
    font-weight: 100;
}

.custom_overlay_inner p {
    line-height: 1.4em;
    font-weight: 100;
}

.carousel-paragraph {
    font-size: 24px;
}

.carousel-button {
    display: inline-block;
    padding: 20px;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: lighter;
    color: #FFFFFF;
    text-align: center;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background-color: unset;
    line-height: 1.2em;
}

.carousel-button:hover {
    color: #000000;
    background-color: #FFFFFF;
}

.carousel-button span {
    margin-left: 10px;
}


/*====== CAROUSEL END ======*/


/* ====== MAIN SECTION ====== */
section {
    margin-top: 95px;
    margin-bottom: 95px;
}

/* .margin-top {
    margin-top: 90px;
} */

h2 {
    text-align: center;
    color: #8496b5;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: bold;

}



.cards {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;

    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.cards .item {
    position: relative;
    overflow: hidden;
    min-width: 30%;
    overflow: hidden;
    max-height: 300px;
    margin-top: 65px;
    text-align: center;
}

.cards .item * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cards .item img {

    max-height: inherit;
    opacity: 0.5;

}

.cards .item img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.cards .item .project-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #f8f8f8;
    line-height: 30px;
}

.cards-img {
    background-image: linear-gradient(rgba(41, 41, 41, 0.411), rgba(41, 41, 41, 0.568)),
        url(img/project-photo-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cards-text-wrapper {}

.cards-text {
    padding-top: 120px;
    padding-bottom: 120px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #f8f8f8;
    line-height: 30px;

}

div.item.blue {
    background-color: #512078;
}


div.item.red {
    background-color: #d85879;
}

div.item.green {
    background-color: #090909;
}

div.item * {
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

div.item .project-text {
    -webkit-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    color: #fff0f0;
}

.sort-by {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;

}

.select {
    color: #bdc0c1;
    background-color: #eff0f2;
    margin-left: 15px;
    /* display: inline-block; */
    margin-bottom: 0;
    width: 255px;

    text-align: left;
    cursor: pointer;

    border: 1px solid transparent;
    padding: 10px;
    font-size: 14px;

}

.select p {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

i.fa-angle-down,
    {
    float: right;
}

/* ====== MAIN SECTION END ====== */

/* ====== ACCORDEON ====== */

.FAQ {
    background-color: #c1cada;
    padding-bottom: 90px;
    padding-top: 90px;
}

.FAQ h2 {
    padding-bottom: 50px;
    color: black;
    font-size: 26px;
    font-weight: bold;
}


.accordion {
    background-color: #677ca3;
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    margin-bottom: 10px;
}



.accordion-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.active {
    background-color: black;
}

.panel {
    width: 100%;
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.html-css-jq-logo {
    background-image: url(img/HTML5_CSS3_jQuery_Logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 180px;
    height: 160px;
    margin-right: 30px
}

.parent {

    display: flex;

    align-items: center;
    -ms-flex-line-pack: justify;
    align-content: space-between;

    flex-flow: row;
    padding: 30px;
}

.parent p {
    width: 100%;
    line-height: 2;
    color: black;
    font-weight: bold;
}

.accordion-paragraph {
    padding: 30px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.smaller-text {
    font-size: small;
    color: #677ba3;
    display: inline-block;
    margin-top: 20px;
    margin-right: 40px;
}

.parent p button {
    background-color: #677ba3;
    padding: 20px;
    width: 180px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

/* ====== ACCORDION END ====== */


/* ====== FOOTER ====== */
/* FOOTER */

footer {
    background-color: black;
    color: white;
    padding-top: 90px;
}

.footer_inner {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_inner ul {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: -40px;
}

.footer_inner li {
    list-style: none;

    line-height: 2;
}

.list-one span {
    text-transform: capitalize;
    color: white;
    font-size: 18px;
}

.list-one {
    padding-right: 50px
}

/* .pdr {
    padding-right: 100px
} */

.red-color a {
    color: #804454
}

.blue-color a {
    color: #414d63
}

a {
    text-decoration: none;
}


i.fa-link {
    margin-right: 10px;
}

.last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 90px;
    width: 100%;
    background-image: url(img/FOOTERimg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.last p {
    font-size: 16px;
    opacity: 30%
}

.thanks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    margin-top: -20px;
    z-index: 2;
    opacity: 0.8;
}

.thanks img {
    width: 70px;
    height: 70px;
}

.final-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
}

.thanks p {

    font-size: 14px;
}

/* ====== FOOTER END ====== */



/* RESPONSIVE */

.mobile-navigation {
    display: none;
}

/*------------------- TABLET ------------------*/


@media only screen and (min-width: 600px) and (max-width: 999px) {
    /* .custom_overlay .carousel-title {
        font-size: 30px;
    } */

    nav.top-links li {
        margin-left: 30px;
    }

    .custom_overlay_inner {
        max-width: 70%;
    }

    nav.navigation div ul {

        text-align: center;

    }

    header a:hover {
        color: #aab5cb;
    }


    nav li {
        margin-right: 16px;
    }

    .slick-prev:before,
    .slick-next:before {

        font-size: 32px;
    }

    .slick-prev {
        left: 2rem;
    }

    .slick-next {
        right: 2rem;
    }

    .sort-by {
        margin-top: 20px;
        margin-bottom: 40px;
    }


    .smaller-text {
        margin-right: 0px;
    }

    .parent {
        flex-flow: column;
        text-align: center;
        padding: 10px;
    }


    .cards {
        justify-content: space-around;
    }

    .parent p button {
        margin-top: 10px;
    }


    .thanks {
        margin-top: -20px;
    }

    .footer-links {
        justify-content: space-evenly;
        flex-direction: row;

    }

    .list-one {
        width: 40%;
    }
}

/*------------------- MOBILE ------------------*/
@media only screen and (min-width: 376px) and (max-width: 599px) {
    .custom_overlay .carousel-title {
        /* font-size: 20px; */
        margin-bottom: 10px;
    }

    .custom_overlay_inner {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }


    .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .slick-prev:before,
    .slick-next:before {
        display: none;
    }



    .mobile-align {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    header {
        overflow: hidden;
        position: relative;
        display: inline;
        display: block;
    }

    .header_inner {

        display: inline;

    }

    header a.icon {
        display: inline;
        float: right;
    }

    nav.top-links {
        width: 100%;
        text-align: center;
        background: black;
    }

    .sort-by {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .top-links,
    nav.navigation {
        display: none;
    }

    .mobile-navigation {
        display: block;
        margin: 0;

    }

    .top-links ul li {
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0;
        display: block;
    }

    header a.icon {
        color: black;
        float: right;

    }

    header a:hover {
        color: #aab5cb;
    }

    .smaller-text {
        margin-right: 0px;
    }

    .parent {
        flex-flow: column;
        text-align: center;
        padding: 10px;
    }

    .cards .item {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);

    }

    .cards {
        justify-content: space-around;
    }

    .parent p button {
        margin-top: 10px;
    }

    .thanks {
        margin-top: -20px;
    }

    .header_inner a.icon {
        color: black;
        float: right;
        display: inline;
    }

    .footer-links {

        flex-direction: column;
        align-content: center;

    }
}


@media only screen and (max-width: 375px) {
    .custom_overlay .carousel-title {
        /* font-size: 45px; */
    }

    .custom_overlay_inner {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .mobile-align {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .header_inner {
        overflow: hidden;
        position: relative;
        display: inline;
        display: block;
    }

    .header_inner a.icon {
        color: black;
        float: right;
        display: inline;
    }

    nav.top-links {
        text-align: center;
        background: black;
    }

    .sort-by {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .top-links,
    nav.navigation {
        display: none;
    }

    .mobile-navigation {
        display: block;
        margin: 0;
    }

    .top-links ul li {
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0;
        display: block;
    }

    .slick-prev:before,
    .slick-next:before {
        display: none;
    }

    .parent {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        align-content: space-around;

    }

    .cards .item {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        margin-top: 5px;
        width: 100%;

    }

    .panel {
        padding: 0;
        text-align: center;
        margin: auto;
    }

    .html-css-jq-logo {
        margin: auto;
    }

    .smaller-text {
        margin-right: 0px;
    }

    .thanks {
        margin-top: -20px;
    }

    .footer-links {

        flex-direction: column;
        align-content: center;

    }
}