/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
    font-family: 'Open Sans',
        sans-serif;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* #container {
    max-width: 1410px;
    padding-left: 85px;
    padding-right: 85px;
    overflow: hidden;
} */


header,
section,
footer,
nav#navigation,
.FAQ {
    /* padding-right: 100px;
    padding-left: 100px; */
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1410px;
    margin: 0 auto;
}



/* .padding-left-right {
    padding-left: 35px;
    padding-right: 35px;
} */
/* 
.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
} */

.header_inner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header_inner a.icon {
    display: none;
}

div.logo {
    background-image: url(img/html5-logo3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 70px;
    margin: 20px 20px 20px 0;
}

.html-logo-top {
    font-size: 22px;
    font-weight: bold;
    color: #333333;
}

.logo-align {
    display: flex;
    flex-direction: row;
    align-items: center;
}

span.top-nav {
    font-size: 11px;
    display: block;
    font-weight: lighter;
    color: #c8c8c8;
}

nav.navigation div ul {
    float: left;
    width: 100vw;
}



nav li {
    list-style-type: none;
    display: inline-block;
    margin-right: 50px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

nav.top-links li {
    color: #8b9bb9;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-right: 0px;
    margin-left: 50px;
}

nav.navigation {
    background-color: black;
    height: 60px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}

.fixed {
    position: fixed;
    top: 0;
    width: 110%;
    z-index: 555;
}

.navigation ul li:not(:first-child):hover {
    color: #954e61;
}

i.fa-home:active {
    color: #954e61;
}

/* OWL */

.owl-carousel {
    position: relative;

}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-70%);
    -ms-transform: translateY(-70%);
    transform: translateY(-70%);
}

.owl-prev {
    left: 10rem;
}

.owl-next {
    right: 10rem;
}

.owl-prev span,
.owl-next span {
    font-size: 4.5rem;
    color: #ededf0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: unset;
}

.owl-prev span:active,
.owl-next span:active {

    color: #c7c7c7;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #eff0f2;
}

.owl-carousel .owl-stage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.owl-carousel .item img {
    width: 100%;
    height: auto;
}

.custom_overlay_wrapper {
    position: relative;
}

.custom_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(41, 41, 41, 0.37);
}

.custom_overlay_inner {
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.custom_overlay .carousel-title {
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.custom_overlay .carousel-title,
.custom_overlay p {
    color: white;
}

.custom_overlay .carousel-title span {
    font-weight: 100;
}

.custom_overlay p {
    line-height: 1.4em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 40%;
    font-weight: 100;
}

.custom_overlay .carousel-paragraph {
    font-size: 24px;
}

.carousel-button {
    display: inline-block;
    padding: 15px;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: lighter;
    color: #FFFFFF;
    text-align: center;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background-color: unset;
    line-height: 1.2em;
}

.carousel-button:hover {
    color: #000000;
    background-color: #FFFFFF;
}

.carousel-button span {
    margin-left: 10px;
}

.owl-dots {
    position: absolute;
    bottom: 10px;
    left: 25%;
    right: 25%;
    z-index: 22;
    margin-bottom: 85px;
}

.owl-carousel .owl-dots .owl-dot,
.owl-carousel .owl-nav [class*="owl-"]:focus {
    outline: none;
}

.owl-carousel .owl-dots .owl-dot span {
    background: transparent;
    border: 1px solid white;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/*====== OWL END ======*/


/* ====== MAIN SECTION ====== */
.margin-top {
    margin-top: 90px;
}

h2 {
    text-align: center;
    color: #8496b5;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: bold;

}



.cards {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;

    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.cards .item {
    position: relative;
    overflow: hidden;
    width: 410px;
    height: 295px;
    overflow: hidden;
    margin-top: 65px;
    text-align: center;
}

.cards .item * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cards .item img {
    /* -o-object-fit: cover; */
    /* object-fit: cover; */
    max-height: 300px;
    opacity: 0.5;

    /* -webkit-filter: grayscale(100%);
    filter: grayscale(100%); */
}

.cards .item img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.cards .item .project-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #f8f8f8;
    line-height: 60px;
}


div.item.blue {
    background-color: #512078;
}


div.item.red {
    background-color: #d85879;
}

div.item.green {
    background-color: #090909;
}

div.item * {
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

div.item .project-text {
    -webkit-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    color: #fff0f0;
}

.sort-by {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;

}

.select {
    color: #bdc0c1;
    background-color: #eff0f2;
    margin-left: 15px;
    display: inline-block;
    margin-bottom: 0;
    width: 253px;
    height: 53px;
    text-align: left;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
}


i.fa-angle-down,
.right-arrow {
    float: right;
}

/* ====== MAIN SECTION END ====== */

/* ====== ACCORDEON ====== */

.FAQ {
    background-color: #c1cada;
    min-height: 800px;
    margin-top: 90px;
}

.FAQ h2 {
    padding-bottom: 50px;
    padding-top: 90px;
    color: black;
    font-size: 26px;
    font-weight: bold;
}


.accordion {
    background-color: #677ca3;
    color: white;
    cursor: pointer;
    padding: 30px;
    height: 80px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    margin-bottom: 10px;
}



.accordion-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

}

.active {
    background-color: black;
}

.panel {
    width: 100%;
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.html-css-jq-logo {
    background-image: url(img/HTML5_CSS3_jQuery_Logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 180px;
    height: 160px;
    margin-right: 30px
}

.parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    padding: 30px;
}

.parent p {
    width: 100%;
    line-height: 2;
    color: black;
    font-weight: bold;
}

.smaller-text {
    font-size: small;
    color: #677ba3;
    display: inline-block;
    margin-top: 20px;
    margin-right: 40px;
}

.parent p button {
    background-color: #677ba3;
    padding: 20px;
    width: 180px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

/* ====== ACCORDION END ====== */


/* ====== FOOTER ====== */
/* FOOTER */

footer {
    background-color: black;
    min-height: 500px;
    color: white;
    margin: 0;
}

.footer_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    width: 90%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;



}

.footer_inner ul {
    margin-top: 20px;
    margin-bottom: 40px;
}

.footer_inner li {
    list-style: none;
    width: 230px;
    line-height: 2;
}

.list-one span {
    text-transform: capitalize;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.red-color a {
    color: #804454
}

.blue-color a {
    color: #414d63
}

a {
    text-decoration: none;
}


i.fa-link {
    margin-right: 10px;
}

.last {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #222323;
    height: 140px;
    width: 77%;
    background-image: url(img/FOOTERimg.jpg);
    opacity: 0.5;
}

.last p {
    font-size: 16px;
}

.thanks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    margin-top: -40px;
    z-index: 2;
    opacity: 0.8;
}

.thanks img {
    width: 70px;
    height: 70px;
}

.final-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
}

.thanks p {

    font-size: 14px;
}

/* ====== FOOTER END ====== */



/* RESPONSIVE */

.mobile-navigation {
    display: none;
}

/*------------------- TABLET ------------------*/


@media only screen and (min-width: 600px) and (max-width: 999px) {
    .custom_overlay .carousel-title {
        font-size: 15px;
    }

    .custom_overlay p {
        font-size: 13px;
        margin-bottom: 10px;
        width: 60%;
    }

    /* #container {
        padding-left: 20px;
        padding-right: 20px;
    } */

    header a:hover {
        color: #aab5cb;
    }

    .carousel-button {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    .owl-prev span,
    .owl-next span {
        font-size: 3rem;
    }

    .owl-prev {
        left: 2rem;
    }

    .owl-next {
        right: 2rem;
    }

    .html-css-jq-logo {
        width: 130px;
        height: 130px;
    }

    .sort-by {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .cards .item {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        margin-top: 0px;
        width: 50%;

    }

    .parent {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        padding: 0px;
    }

    .thanks {
        margin-top: -20px;
    }
}

/*------------------- MOBILE ------------------*/
@media only screen and (min-width: 376px) and (max-width: 599px) {
    .custom_overlay .carousel-title {
        font-size: 15px;
    }

    .custom_overlay p {
        font-size: 13px;
        margin-bottom: 10px;
        width: 60%;
    }

    .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .mobile-align {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

    }

    header {
        overflow: hidden;
        position: relative;
        display: inline;
        display: block;
    }

    header a.icon {
        display: inline;
    }

    nav.top-links {
        width: 100%;
        text-align: center;
        background: black;
    }

    .sort-by {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .top-links,
    nav.navigation {
        display: none;
    }

    .mobile-navigation {
        display: block;
    }

    .top-links ul li {
        color: #aab5cb;
        padding: 14px 16px;
        font-size: 10px;
        display: block;
    }

    header a.icon {
        color: black;
        float: right;

    }

    header a:hover {
        color: #aab5cb;
    }

    .carousel-button {
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7);
    }

    .owl-dots {
        display: none;
    }

    .owl-prev span,
    .owl-next span {
        font-size: 3rem;
    }

    .owl-prev {
        left: 2rem;
    }

    .owl-next {
        right: 2rem;
    }

    h2,
    h3 {
        font-size: 14px;
    }

    .parent {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-line-pack: justify;
        align-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;

    }

    .html-css-jq-logo {
        width: 130px;
        height: 130px;
    }

    .cards .item {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        margin-top: 0px;
        width: 50%;
    }


    .parent {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        padding: 0px;
    }

    .thanks {
        margin-top: -20px;
    }
}


@media only screen and (max-width: 375px) {
    .custom_overlay .carousel-title {
        font-size: 10px;
    }

    .custom_overlay p {
        font-size: 10px;
        margin-bottom: 3px;
        width: 84%;
    }

    .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .mobile-align {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .header_inner {
        overflow: hidden;
        position: relative;
        display: inline;
        display: block;
    }

    .header_inner a.icon {
        display: inline;
    }

    nav.top-links {
        width: 100%;
        text-align: center;
        background: black;
    }

    .sort-by {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .top-links,
    nav.navigation {
        display: none;
    }

    .mobile-navigation {
        display: block;
    }

    .top-links ul li {
        color: #aab5cb;
        padding: 10px;
        font-size: 9px;
        display: block;
    }

    .header_inner a.icon {
        color: black;
        float: right
    }

    .carousel-button {
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
        padding: 10px;
        margin: 0;
        line-height: 1em;
    }

    .owl-dots {
        display: none;
    }

    .owl-prev span,
    .owl-next span {
        font-size: 2rem;
    }

    .owl-prev {
        left: 1rem;
    }

    .owl-next {
        right: 1rem;
    }

    h2,
    h3 {
        font-size: 14px;
    }

    .parent {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-line-pack: distribute;
        align-content: space-around;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
    }

    .html-css-jq-logo {
        width: 130px;
        height: 130px;
    }

    .cards .item {
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7);
        margin-top: 0px;
        width: 100%;

    }

    .parent {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        padding: 0px;
    }

    .parent p button {
        padding: 5px;
        font-size: 10px;
    }

    .last {
        text-align: center;
    }

    .thanks {
        margin-top: -20px;
    }
}